kind: Gateway
apiVersion: networking.istio.io/v1alpha3
metadata:
  name: pyserver
spec:
  servers:
    - hosts:
        - "*"
      port:
        name: http
        number: 80
        protocol: HTTP
  selector:
    istio: ingressgateway

---
apiVersion: v1
kind: Service
metadata:
  name: pyserver
  labels:
    app: pyserver
spec:
  ports:
  - name: http-web
    port: 80
    targetPort: 5000
  selector:
    app: pyserver
---
apiVersion: apps/v1
kind: Deployment
metadata:
  # name: pyserver
  name: pyserver-v1
  labels:
    app: pyserver
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pyserver
      version: v1
  template:
    metadata:
      labels:
        app: pyserver
        version: v1
    spec:
      containers:
      # - image: py_server:latest
      - image: py_server200:latest
        imagePullPolicy: IfNotPresent
        name: pyserver
        ports:
          - containerPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyserver-v2
  labels:
    app: pyserver
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pyserver
      version: v2
  template:
    metadata:
      labels:
        app: pyserver
        version: v2
    spec:
      containers:
      - name: pyserver
        image: py_server502:latest
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 5000
---

# Copyright 2017 Istio Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
 
##################################################################################################
# Sleep service
##################################################################################################
apiVersion: v1
kind: ServiceAccount
metadata:
  name: sleep
---
apiVersion: v1
kind: Service
metadata:
  name: sleep
  labels:
    app: sleep
spec:
  ports:
  - port: 80
    name: http
  selector:
    app: sleep
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sleep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sleep
  template:
    metadata:
      labels:
        app: sleep
    spec:
      serviceAccountName: sleep
      containers:
      - name: sleep
        image: governmentpaas/curl-ssl
        command: ["/bin/sleep", "3650d"]
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /etc/sleep/tls
          name: secret-volume
      volumes:
      - name: secret-volume
        secret:
          secretName: sleep-secret
          optional: true
